table.highlighttable {
    table-layout: fixed;
    width: 100%;
}

table.highlighttable td.linenos {
    width: 3em;
}

table.highlighttable td.linenos div.linenodiv {
    text-align: right;
}

/* contents for each page */
div.topic {
    background: #efefef;
    border: solid 1px #dddddd;
    padding: 12px 12px 2px 12px;
    margin-bottom: 2ex;
}

/* -*- customize pygments monokai style -*- */
div.document div.highlight {
    background-color: #272822;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

.highlight .err {
    background-color: #272822;
    color: #eecc22;
}
.highlight .c { color: #eecc22 } /* Comment.Hashbang */
.highlight .ch { color: #eecc22 } /* Comment.Hashbang */
.highlight .cm { color: #eecc22 } /* Comment.Multiline */
.highlight .cp { color: #eecc22 } /* Comment.Preproc */
.highlight .cpf { color: #eecc22 } /* Comment.PreprocFile */
.highlight .c1 { color: #eecc22 } /* Comment.Single */
.highlight .cs { color: #eecc22 } /* Comment.Special */
